.white-text {
	color: white;
}

.art-bg {
    background-image: url("/assets/space.png") !important;
}

.w600 {
	width: 600px;
}

a {
    text-decoration: none;
    color: white;
}

.left {
	float: left;
}